<html>
	<head>
		<title>Purple People Eaters</title>
	</head>
	<body>
		<ul>
			<% people.forEach(person => { %>
				<li class="person-entry">
                    <a href="/people/<%= person.id %>">
                        <%= person.name %> - <%= person.age %>
                    </a>
				</li>
			<% }) %>
		</ul>
		<a href="/people/add">Add person</a>
	</body>
</html>
